<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot - </title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
</head>
<body>
    <main>
        <h1 class="title">Temp</h1>
        <div class="chat">
            <div class="placeholder">Digite qualquer coisa para começar</div>
        </div>
        <div class="prompt-area">
            <textarea name="prompt" placeholder="Escreva uma mensagem..." id="prompt"></textarea>
            <button class="confirm" onclick="sendPrompt()"><i class="iconoir-check"></i></button>
        </div>
    </main>
    <script src=''></script>
</body>
</html>